* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Poppins";
}

#bar-left {
    -fx-background-color: #3C6F71;
    -fx-padding: 0 0 0 0;
}

#bar-left > .conteneur {
    -fx-translate-x: 15px;
}

.label-menu {
    -fx-font-size: 16px;
    -fx-font-family: "Poppins";
    -fx-text-fill: #585858; 
}

#menu_icon {
    -fx-translate-y: -90px;
    -fx-padding: 10px;
    -fx-background-color: transparent;
}

#menu_icon:hover {
    -fx-background-color: lightgray;
    -fx-border-color: transparent;
    -fx-border-width: 0; 
    -fx-cursor: hand; 
}

#cadre2 {
    -fx-pref-width: 400px; 
    -fx-pref-height: 200px;
    -fx-alignment: center;
}

#cadre2 > .label {
    -fx-font-size: 16;
    -fx-font-family: "Poppins";
}

#cadreBox {
    -fx-pref-width: 50px; 
    -fx-pref-height: 50px;
    -fx-padding: 10px;
    -fx-border-width: 1px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
}

#box_distric{
    -fx-background-color: #d37575;
    -fx-alignment: center;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

#box_distric > .label{
    -fx-font-family: "Poppins";
    -fx-font-size: 24px;
}

#box_nb{
    -fx-background-color: #FFFFFF;
    -fx-padding: 30;
}

#box_nb > .label {
    -fx-font-family: "Poppins";
    -fx-font-size: 18px;
}

#home {
    -fx-start-margin: -50px;
    -fx-background-color:  #F2F2F2;
    -fx-pref-height: 700px;
    -fx-padding: 20px;
}

